@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


body {
  margin: 0;
  padding: 0;
}

/* Home */

#hero {
  background: url(images/hero.png);
  height: 98vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: hidden;
}

.hero-hr {
  background-image: linear-gradient(60deg,
      hsl(0deg 100% 41%) 0%,
      hsl(307deg 100% 36%) 23%,
      hsl(197deg 100% 50%) 43%,
      hsl(157deg 100% 65%) 62%,
      hsl(64deg 100% 48%) 81%,
      hsl(122deg 100% 50%) 100%);
  height: 12px;
}


#hero h1 {
  margin-top: 10px;
  color: #f9f2ed;
  font-size: 70px;
}

#hero p {
  color: #eee;
  font-size: 20px;
}

#hero .hero-text {
  margin-bottom: 18px;
}

#hero .news-text {
  margin-bottom: 20px;
}

#hero .email_form {
  margin-right: 5px;
}

#hero input {
  height: 2.75rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 350px;
  color: #eee;
  background-color: #606063;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

::placeholder {
  font-style: italic;
  font-size: 1.2em;
  color: mintcream;
  padding: 5px;
}

#hero button {
  color: #606063;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #444444;
  background-color: #8cc0de;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transform: 0.2s;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#hero button:hover {
  background-color: #444444;
  color: #eee;
}



/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 700px) {
  #hero h1 {
    text-align: center;
  }


  #hero input {
    height: 2.75rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 350px;
    color: #eee;
    background-color: #606063;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #hero .email_form {
    width: 310px;
    margin-bottom: 5px;
  }


}

/* Concepts */
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

.products>h1 {
  color: #eee;
  font-size: 50px;
}

.products>p {
  color: #eee;
  padding-bottom: 30px;
  font-size: 20px;
}

.all-cards {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-between;
}

.top>img {
  width: 100%;
}

.bottom {
  color: #eee;
  padding-top: 25px;
  font-size: 15px;
}

.all-cards>.card {
  padding: 25px 25px;

}